.Rhistory
.RData
.Rprofile
renv/
*.dat
*.dta
*.rda
*.RData
*.rds
*.RDS
*.Rds
*.rdata
*.Rdata
*.Rhistory
*.sav
*.zip
*.R~
*.gh5
*.dgm
*.Rproj
*.csv
*.~
*.*~
\#*.*#
*sensitive*.*
*secure*.*
*location*.*
/Data/*
/Private/*
/Location/*
.DS_Store